body { background: #eee; color: #222; margin-top: 10px; position: relative; }
h1, h2, p { text-align: center; margin: 10px 0 0 0; }
h1 { margin-bottom: 20px; }
ul, h3 { width: 430px; margin: 0 auto; }
h3 { border-bottom: #333 2px solid; margin-bottom: 4px; }
li.note strong { color: red; }
p { margin: 0; }
table { border-collapse: collapse; margin: 20px auto; }
table td, table th { border: #777 1px solid; width: 80px; padding: 2px 5px; color: #000; text-align: center; font-size: 22px; }
table th { font-size: 18px; font-weight: normal; }
table.example td { width: 160px; font-size: 36px; }
table.example td small { font-size: 18px; }
table.legend { width: 550px; margin: 0 auto; position: fixed; top: 0; left: 0; z-index: 999; display: none; }
table.legend th, table.legend td { background: #eee; font-size: 12px; text-align: left; }
table.legend th { background: #dee; white-space: nowrap; }
table.legend th.names { width: 50px; }
table.legend th.descrip { width: 65%; }
table.legend th.tabs { width: 120px; }
table.legend .close { float: right; cursor: pointer; }
#overlay { background: #000; opacity: 0.6; filter: alpha(opacity=60); position: fixed; top: 0; left: 0; bottom: 0; right: 0; height: 100%; display: none; z-index: 998; }
small { color: #777; float: left; font-size: 12px; }
.tooltip { position: absolute; font-size: 45px; width: 110px; color:#222; background:#eee; border: 1px solid #333333; padding: 8px; display: none; z-index: 999; }
.tooltip small { font-size: 18px; text-align: center; width: 100%; }
.hide { display: none !important; }

/* legend & nav */
.nav { text-align: center; width: 100%; margin: 20px auto 5px auto; }
.nav a { text-align: center; background: #000; text-decoration: none; color: #fff; border: #000 1px solid; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; padding: 10px; height: 20px; line-height: 45px; white-space: nowrap; }
a.top { margin-left: 40px; }
.box { display: block; width: 15px; height: 15px; border: #000 1px solid; float: right; margin-left: 3px; }
.box.black, .nav a.black { background: #000; }
.box.red, .nav a.red { background: #900; }
.box.green, .nav a.green { background: #090; }
.box.blue, .nav a.blue { background: #009; }
.box.purple, .nav a.purple { background: #909; }
.box.yellow, .nav a.yellow { background: #990; }
.box.white, .nav a.white { background: #fff; color: #000; }
.nav a:hover, .nav a.current { -moz-box-shadow: 0 0 10px #08f; -webkit-box-shadow: 0 0 10px #08f; box-shadow: 0 0 10px #08f; }
